
  <div class="alert alert-success" style="<%= 'display: block;' if notice %>" role="alert">
    <%= notice %>
  </div>


  <div class="alert alert-danger" style="<%= 'display: block;' if alert %>" role="alert">
    <div>
      <%= alert %>
    </div>
    <small><%= flash[:error] %></small>
  </div>

