<div class="card bg-light mx-auto mt-5 rss-feeds-card">
  <div class="card-body">
    <div class="rss-feed-header">
      <h5 class="card-title pull-left">My Feeds:</h5>
      <%= link_to new_current_user_rss_feed_path, class: 'btn btn-sm btn-success pull-right' do %>
        <i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Create New Feed"></i>
      <% end %>
    </div>

    <hr />

    <% if @rss_feeds.present? %>
      <% @rss_feeds.each do |feed| %>
        <div class="rss-row">
          <div class="cell feed-name"><%= feed.name %></div>

          <div class="cell feed-url">
            <div class="input-group">
              <input type="text" class="form-control" readonly value="<%= feed.url || 'N/A' %>" aria-label="<%= feed.url || 'N/A' %>">
              <div class="input-group-append">
                <button class="btn btn-dark btn-sm" type="button">
                  <i class="fa fa-clipboard copy-feed-url-button"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render 'empty_states/rss_feeds' %>
    <% end %>
  </div>
</div>
