<div class="card bg-light mx-auto mt-5 rss-feeds-card">
  <div class="card-body">
    <h5 class="card-title pull-left">Your Feed</h5>
    <hr>

    <%= form_for @rss_feed, url: current_user_rss_feed_path, class: 'new-rss-feed-form' do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :xml_url %>
        <%= f.text_field :xml_url, readonly: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :rss_url %>
        <%= f.text_field :rss_url, readonly: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <small>Check out our <a href="<%= resources_root_path %>">resources</a> page for ways to consume your feeds.</small>
      </div>

      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-success btn-block' %>
      </div>
    <% end %>
  </div>
</div>
