<div class="category-container" data-item-id="<%= category.id %>">
  <div class="fa category-header">
    <h3><%= category.name %></h3>
    <%= link_to user_category_path(category), method: :delete, class: 'btn btn-sm btn-danger' do %>
      <i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete category and links"></i>
    <% end %>
  </div>

  <hr>

  <div class="links-container">
    <% if category.user_monitors.empty? %>
      <%= render 'empty_states/user_monitors' %>
    <% else %>
      <% category.user_monitors.each do |monitor| %>
        <%= render 'application/link_container', monitor: monitor %>
      <% end %>
    <% end %>
    <hr>
  </div>

  <%= render 'dashboard/create_new_monitor', category: category %>
</div>
