<div class="card link-container">

    <div class="link-header">
      <a href="<%= redirect_path(monitor.id) %>" target="_blank" class="name-container">
        <i class="fa fa-circle <%= monitor_status_color_class( @notifications.find_by(relevant_thing: monitor) )%>"></i>
        <img src="<%= monitor.app_monitor.favicon_url %>" />
        <span class="text-info monitor-name"><%= monitor.name %></span>
      </a>
      <div>
        <i class="fa fa-refresh text-warning refresh-user-monitor-button" data-monitor-id="<%= monitor.id %>" data-toggle="tooltip" data-placement="bottom" title="Refresh"></i>
        <i class="fa fa-pencil text-primary toggle-link-form-button" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
      </div>
    </div>

    <div class="link-form">
      <%= form_for monitor, html: { class: 'form-group' } do  |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
        <div class="form-group">
          <%= f.text_field :url, class: 'form-control form-control-sm' %>
        </div>
        <div>
          <%= f.submit "Update", class: 'btn btn-sm btn-info form-control-sm' %>
          <%= link_to "Delete", user_monitor_path(monitor), method: :delete, class: 'btn btn-sm btn-danger form-control-sm' %>
          <a href="<%= new_current_user_selector_suggestion_path(monitorId: monitor.app_monitor.id) %>" class="small text-secondary pull-right help-us-link">help us!</a>
        </div>
      <% end %>
    </div>

  </a>
</div>
