<!DOCTYPE html>
<html>
  <head>
    <title>DIY RSS</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', type: "text/css" %>

    <%= csrf_meta_tags %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark <%= controller.controller_path.gsub("/","_") %> <%= controller.action_name %>" id="page-top">

    <%= render 'shared/alerts' %>
    <%= render 'shared/navigation' %>

    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
