<!DOCTYPE html>
<html>
  <head>
    <title>DIY RSS</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
  </head>

  <body class="fixed-nav sticky-footer bg-dark <%= controller.controller_path.gsub("/","_") %> <%= controller.action_name %>" id="page-top">

    <%= render 'shared/alerts' %>
    <%= render 'shared/navigation' %>

    <div class="content-wrapper">
      <%= yield %>

      <%= render 'shared/footer' %>
    </div>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
